*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/debug
app/release
*.apk
*.aab
*.hprof
.navigation/
bin/
gen/
out/
*.log
.gradle/
build/
proguard/
*.keystore
google-services.json
